/* Import - Export Table */
table{
  width:100%;
}

.wrapper{
  height:500px;
  width: 90%;
  position: absolute;
  left: 5%;
  overflow: auto;
}

thead{
  background-color: rgba(240,128,128,0.3);
 }

tbody{
  background-color: #FFF;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-size: 14px;
  font-weight: bold;
  color: lightcoral;
  border-bottom: solid 2px rgba(240,128,128,0.1);
}
tbody tr:hover {
  background-color:lightgray;
  cursor:pointer;
}
tbody tr:active {
  background-color: lightgreen;
} 


 
