.navbar {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  text-decoration: none;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 40px;
  flex: 0.46;
  font-size: 30px;
  font-weight: bold;
}

ul {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

ul a {
  text-decoration: none;
  
}

ul li {
  margin: 10px;
  font-size: 20px;
  color: black;
}

.navbar ul a:hover {
  transition: 0.5s;
  border-bottom: 4px solid#FFF;
  border-radius: 3px;
}
